<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Plate</th>
    <th>Taken at</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <%= render @fines %>
  </tbody>
</table>
